@import url('normalize.css');
/*@import url('grid.css');*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#temperature {
  text-align: right;
  font-size: 9em;
  margin-top: 5;
  margin-bottom: 5;
}

section {
  float: left;
  padding: 0.5px;
}

button {
  font-size: 2em;
  padding: .5em;
  border: none;
  background: none;
}

img {
  height: 100%;
  margin-left: -.5em;
}

.col-1 {
  width: 59%;
  height: 100%;
  text-align: right;
  padding-top: 10%;

}

.col-2 {
  width: 40%;
  height: 100%;
  background-color: black;
  color: white;
  vertical-align: text-top;
}

.PSM-on {
  text-align: right;
}

#colorbar {
  background-color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

span { 
  background-color: white;
  padding: 3.5px;
  color: black;
}

